{:available-organisms ["ce11"]
 :grna-database-path-prefix "test/resources/database/"
 :grna-database-path-map {"ce11" "cas9_ce11_chrIV_small.bam"}
 :annotations-map {"ce11" "test/resources/ce11_annotations.bed"}}
